:root {
    --background-1: antiquewhite;
    --background-2: aquamarine;
}
.img-container-1 {
    display:flex;
    flex-direction: row;
    align-self: center;
    flex-wrap: wrap;
}
.img-container-2 {
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;
}
.img-container-3 {
    height: 100px;
    width: 100px;
}
.div-container-1 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: center;
}
.div-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-container-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

body {
    background-color: var(--background-1);
}
img {
    max-width: 300px;
    height: auto;
}
@media(max-width: 500px) {
    img {
        width: 100px;
    }
}